[Unit]
Description=Konstructs Server

[Service]
WorkingDirectory={{ konstructs_path }}
ExecStart=/usr/bin/java -Xmx750m -cp {{ konstructs_jar_path }}:{{ konstructs_plugin_path }}/* konstructs.Main
User={{ konstructs_user }}
PrivateTmp=true
PrivateDevices=true
ProtectSystem=full
ProtectHome=true
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
