#!/bin/bash

> /tmp/update-konstructs.log

log() {
  echo "[$(date)] $@" >> /tmp/update-konstructs.log
}

log "Remove server files"
rm -rf binary meta

log "Unpack prod server dump"
tar xf world.tar.xz

log "Set owner"
chown -R {{ konstructs_user }} binary meta
